@use "../../../sass/var";
@use "../../../sass/mixins";

div {
    .proyecto {
        position: relative;
        &:hover {
            img {
                opacity: 0.2;
            }
        }
        &:hover .overlay {
            opacity: 1;
        }
        
        img {
            height: 100%;
            width: 100%;
            padding: 10px;
            border-radius: 10px;
            display: block;
            transition: all 0.2s ease;
        }
        .overlay {
            transition: all 0.2s ease;
            opacity: 0;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
    
            .iconos-contenedor {
                display: flex;
            }
            p {
                font-size: 25px;
                font-weight: bold;
                margin-bottom: 0;
                @include mixins.sr(400px){font-size: 18px;}
            }
            i {
                color: var.$n;
                font-size: 60px;
                margin: 10px;
                @include mixins.sr(400px){font-size: 40px;}
            }
        }
    }
    
}










