@use "../../sass/var";

.proyectos-recientes {
    padding: 40px;
    // margin-bottom: 50px;
    background-color: var.$b;
    color: var.$n;

    .seccion-titulo {
        font-size: 2rem;
        padding: 15px 0;
        font-family: var.$f1;
        color: var.$n;
    }
    .seccion-descripcion {
        font-size: 1.2rem;
        color: var.$c3;
    }
    .proyectos-contenedor {
        padding-top: 60px;
        margin-bottom: 40px;
    }
}

.sec-proy-dark {
    background-color: var.$c6;
    color: var.$b;

    .seccion-titulo {
        color: var.$b;
    }
    .seccion-descripcion {
        color: var.$c8;
    }
}