.proyectos-recientes {
  padding: 40px;
  background-color: #fff;
  color: #000;
}
.seccion-titulo {
  font-size: 2rem;
  padding: 15px 0;
  font-family: system-ui, Arial;
  font-weight: 900;
  color: #000;
}
.seccion-descripcion {
  font-size: 1.2rem;
  color: #584e4e;
}
.proyectos-contenedor {
  padding-top: 60px;
  margin-bottom: 40px;
}

body.dark {
  .proyectos-recientes {
    background-color: #0a0a23;
    color: #fff;
  }
  .seccion-titulo {
    color: #fff;
  }
  .seccion-descripcion {
    color: #aeaeae;
  }
}