@use "../../sass/var";

.hero {
    background-color: var.$c1;
    min-height: 450px;
    text-align: center;
    
    .hero-principal {
        padding: 3rem;

        .hero-imagen {
            width: 200px;
            height: 200px;
            margin: 20px;
            border: 1px solid var.$n;
            background-color: var.$n;
            color: var.$b;
        }

        h1{
            font-size: 2.5rem;
            font-family: var.$f1;
        }
        
        h2 {
            font-size: 1.5rem;
            color: var.$c4;
        }
    }
}

.hero-dark {
    background-color: var.$c6;
    .hero-principal {
        .hero-imagen {
            background-color: var.$c2;
        }
        h1 {
            color: var.$c10;
        }
    
        h2 {
            color: var.$c1;
        }
    }
}

