.section-exp {
  margin-bottom: 40px;

  .experiencia-titulo {
    font-size: 2rem;
    padding: 15px 0;
    font-family: system-ui, Arial;
    font-weight: 900;
    color: #000;
  }


  .experiencia-container {
    margin-top: 50px;
    border: 1px #584e4e solid;
    background-color: #f5f6f7;
    padding: 25px 20px;
    min-height: 290px;
    transition: all 0.2s ease-in;
    border-radius: 5px;

    &:hover {
      color: #0d6efd;
      border-bottom: 5px #0d6efd solid;
    }

    .experiencia-row {
      font-family: system-ui, sans-serif;

      .experiencia-lugar {
        color: #141313;
      }

      .experiencia-puesto {
        color: #615151;
      }

      .experiencia-duracion {
        color: #584e4e;
      }

      .experiencia-descripcion {
        font-size: 1rem;
        text-align: justify;
      }
    }
  }
}

@media (max-width: 768px) {
  .experiencia-row {
    padding: 0px;
    margin: 0;
    text-align: center;
  }
}

@media (max-width: 576px) {
  .experiencia-lugar {
    font-size: 20px;
  }

  .experiencia-container {
    padding: 0;
    margin: 0;
    width: 330px;
    margin-bottom: 40px;
  }

  .experiencia-col .ms-4 {
    margin: 10px 0 0 0 !important;
  }

  .experiencia-descripcion {
    font-size: 13px;
  }

  .experiencia-puesto {
    font-size: 15px;
  }

  .experiencia-duracion {
    font-size: 15px;
  }
}

body.dark {
  .section-exp {
    background-color: #0a0a23;
  }

  .experiencia-titulo {
    color: #fff;
  }

  .experiencia-container {
    border-color: #d7d7d7;
    background-color: #000;
    transition: all 0.2s ease-in;
  }

  .experiencia-container:hover {
    color: #f8f9fa;
    border-bottom: 5px #fff solid;
  }

  .experiencia-container:hover .experiencia-row .experiencia-col .experiencia-descripcion {
    color: #f8f9fa;
  }

  .experiencia-col .ms-4 .experiencia-lugar {
    color: #f8f9fa;
  }

  .experiencia-col .ms-4 .experiencia-puesto {
    color: #f5f6f7;
  }

  .experiencia-col .ms-4 .experiencia-duracion {
    color: #d9c6c6;
  }

  .experiencia-descripcion {
    color: #b9aeae;
  }
}