.sobre-mi {
  height: 500px;
  padding: 10px;
  background-color: #1b1b32;
  color: #fff;
}
.sobre-mi .contenedor {
  max-width: 600px;
}
.sobre-mi .contenedor .seccion-titulo {
  font-size: 2rem;
  padding: 15px 0;
  font-family: Rubik Dirt, system-ui, Arial, Helvetica, sans-serif;
}
.sobre-mi .contenedor .seccion-texto {
  font-size: 1.2rem;
}

.mi-dark {
  background-color: #000;
}