.navbar {
  padding: 2rem;
  background-color: #f8f9fa;
}

.navbar-brand {
  height: 50px;
  width: 50px;
  background-color: #f8f9fa;
  border-radius: 50%;
  cursor: unset;
}
.nav-link.active {
  color: #000;
}

.navbar-toggler.collapsed i {
  color: #000;
  border-radius: 10%;
}

body.dark {
  .navbar {
    background-color: #000;
  }
  .navbar-toggler {
    background-color: #fff;
  }
  .navbar-brand {
    color: #000;
  }
  .nav-link {
    color: #fff;
  }
  .nav-link.active {
    color: #aeaeae;
  }
}