@use "../../sass/var";
@use "../../sass/mixins";

.navbar {
    padding: 2rem;
    background-color: var.$c10;
    .navbar-brand {
        height: 50px;
        width: 50px;
        background-color: var.$c10;
        border-radius: 50%;
    }
    .nav-link {
        &.active {
            color: var.$n;
        }
    }
}

.navbar-toggler.collapsed i {
    color: var.$n;
    border-radius: 10%;
}

.nav-dark {
    background-color: var.$n;
    .navbar-toggler {
        background-color: var.$b;
    }
    .navbar-brand {
        color: var.$n;
    }
    .nav-link {
        color: var.$b;
        &.active {
            color: var.$c8;
        }
    }
}
