@use "../../sass/var";
@use "../../sass/mixins";

.navbar {
    padding: 2rem;
    background-color: var.$c1;
    .navbar-brand {
        @include mixins.sr(767px){display: none;}
    }
}

.navbar-toggler.collapsed i {
    color: #000;
    border-radius: 10%;
}
