.skill {
  padding: 40px 60px;
  background-color: #fff;
  color: #000;
  margin-bottom: 40px;
}

.skill-titulo {
  font-size: 2rem;
  padding: 15px 0;
  font-family: system-ui, Arial;
  font-weight: 900;
  color: #000;
  margin-bottom: 42px;
}

.columna {
  padding: 20px;
  border: 2px solid rgba(128, 128, 128, 0.3019607843);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  transition: all 0.2s ease-in;
}

.columna:hover {
  color: #fff;
  background-color: #1b1b32;
}

.skill-item-titulo {
  font-size: 25px;
  font-weight: bold;
  margin: 10px 0;
}

.badges-contenedor {
  font-size: 20px;
  font-weight: bold;
  margin: 10px 0;
}

.badge {
  background-color: #0d6efd;
  margin: 5px;
}

.columna i {
  font-size: 2.5rem;
  color: #7ade30;
  background-color: #0a0a23;
  padding: 8px 19px;
  border-radius: 50%;
}

body.dark {
  .skill {
    background-color: #0a0a23;
    color: #fff;
  }
  
  .skill-titulo {
    color: #fff;
  }
  
  .columna {
    border-color: #fff;
  }
  
  .columna:hover {
    color: #000;
    background-color: #fff;
  }
  
  .columna i {
    color: #fff;
    background-color: rgba(128, 128, 128, 0.3019607843);
  }
  
  .badge {
    color: #141313;
    background-color: #aeaeae;
  }
  
  .skill-item-titulo {
    color: #fff;
  }
  
  .columna:hover .skill-item-titulo {
    color: #000;
  }
}
