@use "../../sass/var";

footer {
    min-height: 400px;
    background-color: var.$c2;
    color: var.$b;

    #a-logo {
        background-color: var.$c2;
        border-radius: 50%;
        .footer-logo{
            height: 80px;
            width: 80px;
            margin: 10px;
            color: var.$n;
        }
    }
    .footer-texto {
        font-size: 1.5rem;
        padding: 20px;
        font-family: var.$f2;
    }
    .iconos-redes-sociales {
        a {
            width: 50px;
            height: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 2px;
            margin: 10px;
            border: 2px solid var.$b;
            border-radius: 50%;
            transition: all 0.2s ease-in;
            &:hover{
                background-color: var.$b;
                border: 2px solid var.$b;
                i {
                    color: var.$n;
                }
            }

            i {
                color: var.$b;
                font-size: 1.5rem;
                transition: all 0.2s ease-in;
            }
        }
        
        
    }
    .derechos-de-autor {
        font-size: 15px;
        color: var.$c8;
        padding: 20px;
    }
}


.foot-dark {
    background-color: var.$n;
    color: var.$b;

    #a-logo {
        background-color: var.$b;
    }
    .iconos-redes-sociales {
        a {
            border: 2px solid var.$b;
            &:hover{
                background-color: var.$b;
                border: 2px solid var.$b;
                i {
                    color: var.$n;
                }
            }

            i {
                color: var.$b;
            }
        }
        
        
    }
    .derechos-de-autor {
        color: var.$c8;
    }
}

