footer {
  min-height: 300px;
  background-color: #1b1b32;
  color: #fff;
}

.footer-texto {
  font-size: 1.5rem;
  padding: 20px;
  font-family: system-ui, sans-serif;
}

.iconos-redes-sociales a {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px;
  margin: 10px;
  border: 2px solid #fff;
  border-radius: 50%;
  transition: all 0.2s ease-in;
}

.iconos-redes-sociales a:hover {
  background-color: #fff;
  border: 2px solid #fff;
}

.iconos-redes-sociales a:hover i {
  color: #000;
}

.iconos-redes-sociales a i {
  color: #fff;
  font-size: 1.5rem;
  transition: all 0.2s ease-in;
}

.derechos-de-autor {
  font-size: 15px;
  color: #aeaeae;
  padding: 20px;
}

body.dark {

  footer {
    background-color: #000;
    color: #fff;
  }

  .iconos-redes-sociales a {
    border: 2px solid #fff;
  }

  .iconos-redes-sociales a:hover {
    background-color: #fff;
    border: 2px solid #fff;
  }

  .iconos-redes-sociales a:hover i {
    color: #000;
  }

  .iconos-redes-sociales a i {
    color: #fff;
  }

  .derechos-de-autor {
    color: #aeaeae;
  }
}