@font-face {
  font-family: "Rubik Dirt";
  src: url(/src/fonts/rubik-dirt.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* Fuentes */
.contacto {
  color: #fff;
}
.contacto .container {
  max-width: 1100px;
  min-height: 200px;
  padding: 20px;
}
.contacto .container .contacto-div {
  max-width: 1100px;
  min-height: 200px;
  padding: 20px;
  background-color: #0d6efd;
  border-radius: 10px;
}
.contacto .container .contacto-div .row {
  width: 100%;
  display: flex;
  align-items: center;
}
.contacto .container .contacto-div .row .seccion-titulo {
  font-size: 2rem;
  padding: 15px 0;
  font-family: "Rubik Dirt", system-ui, Arial, Helvetica, sans-serif;
}
@media (max-width: 472px) {
  .contacto .container .contacto-div .row .seccion-titulo {
    font-size: 1.5rem;
  }
}
.contacto .container .contacto-div .row .descripcion {
  color: #fff;
  font-size: 1.2rem;
}
.contacto .container .contacto-div .row div .anchorContact {
  color: transparent;
  cursor: default;
}
.contacto .container .contacto-div .row div .anchorContact button {
  color: #fff;
  font-weight: bold;
  background-color: transparent;
  border: 2px solid #fff;
  padding: 1rem 2em 1.25rem 2em;
  margin: 0 10px 10px 10px;
  border-radius: 100px;
  transition: all 0.2s ease-in-out;
}
.contacto .container .contacto-div .row div .anchorContact button:hover {
  background-color: #fff;
  color: #000;
}
.contacto .container .contacto-div .row div .anchorContact button:hover i {
  color: #000;
}
.contacto .container .contacto-div .row div .anchorContact button i {
  color: #fff;
  font-size: 1.3rem;
  transition: all 0.2s ease-in-out;
}

.cont-dark {
  color: #f5f6f7;
  background-color: #0a0a23;
}
.cont-dark .container .contacto-div {
  background-color: #1b1b32;
}
.cont-dark .container .contacto-div .row .descripcion {
  color: #f5f6f7;
}
.cont-dark .container .contacto-div .row div button {
  color: #f5f6f7;
  border: 2px solid #f5f6f7;
}
.cont-dark .container .contacto-div .row div button:hover {
  background-color: #141313;
  color: #f5f6f7;
}
.cont-dark .container .contacto-div .row div button:hover i {
  color: #f5f6f7;
}
.cont-dark .container .contacto-div .row div button i {
  color: #f5f6f7;
}