.up-div {
  display: none;
  align-items: center;
  justify-content: center;

  position: fixed;
  bottom: 40px;
  right: 40px;

  background-color: #fff;
  border: 3px solid #000;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  
  z-index: 2;
  cursor: pointer;

  & .up-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    height: 50px;
    width: 50px;
    color: #000;
  }
}

body.dark {
  .up-div {
    background-color: #141313;
    border: 3px solid #f8f9fa;
  }

  .up-icon {
    color: #f8f9fa;
  }
}