@use "./sass/mixins";
@import "~bootstrap/scss/bootstrap";

@include mixins.f1;
@include mixins.f2;

html {
    scroll-behavior: smooth;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@include mixins.sr(472px){
    .seccion-titulo {
        font-size: 1.5rem;
        text-align: center;
    }
    .seccion-texto {
        font-size: 1rem;
    }
}
